---
/build
/.gradle
/.kotlin
/.idea
local.properties
*.iml
actioncable/.cxx
actioncable/build
consumer-check/.gradle
consumer-check/build
e2e-server/.bundle
e2e-server/tmp
e2e-server/log
e2e-server/storage
e2e-server/.pidfile
e2e-server/public/assets
consumer-check/.kotlin
consumer-check/*/build
consumer-check/iosApp/*.xcodeproj
consumer-check/iosApp/Info.plist
